/**
  O arquivo .babelrc é usado para configurar o Babel, que é uma
  ferramenta de compilação que converte o código JavaScript
  moderno em um formato compatível com navegadores mais antigo
*/
// {
//   "presets": [
//     ["@babel/preset-env", {
//       "targets": {
//         "chrome": "58",
//         "ie": "11"
//       }
//     }]
//   ]
// }

{
  "presets": [
    ["@babel/preset-env"]
  ],
  "plugins": [
    ["transform-imports", {
      "lit-html": {
        "transform": "lit-html/lib/shady-render.js",
        "preventFullImport": true
      },
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      },
      "src/js/components/progress-bar/*.css": {
        "transform": "babel-plugin-transform-css-import-to-string"
      }
    }]
  ]
}
