@import '../../../styles/themes/index.css';

.jhoonsa-videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .jhoonsa-videos {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  width: 400px;
  margin: 20px;
  box-shadow: var(--shadown-color-default);
  transition: transform 0.3s ease-in-out;
} */

.jhoonsa-videos {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--shadown-color-default);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.jhoonsa-videos::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  background: inherit;
  filter: blur(10px);
}

.jhoonsa-videos__iframe {
  position: relative;
  padding-bottom: 56.25%; /* proporção 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 10px;
}

.jhoonsa-videos:hover {
  transform: scale(1.05);
}

.jhoonsa-videos__title {
  font-family: cursive;
  font-size: 14px;
  text-align: center;
}




