<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id="#myContainer"></div>

  <script>
    const myButton = new Button({
  label: 'Clique aqui',
  onClick: () => alert('Você clicou no botão!'),
});
const container = document.querySelector('#myContainer');
myButton.mount(container);
  </script>
</body>
</html>
