<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./button-glass.js"></script>
</head>
<body>

  <div id="meu-elemento"></div>

  <script>
    import Button from './button-glass.js'
    const myButton = new Button({
  label: 'Clique aqui',
  onClick: () => {
    console.log('Botão clicado!');
  },
});

myButton.mount(document.querySelector('#meu-elemento'));

  </script>
</body>
</html>
