<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>button glass</title>
  <style>
    .center {
      height: 30%;
    }
  </style>
</head>
<body>
  <!-- <script src="../../../dist/progress-bar/progress-bar.js"></script> -->
  <!-- <script src="../../../dist/button/button.js">
    const button = new Button({label: 'teimosinhos', onClick: ''});
  </script> -->
  <!-- <script src="../../../dist/jhoonsa-container/jhoonsa-container.js"></script> -->
  <script src="../../../dist/progress-bar/progress-bar.js"></script>
  <!-- <script src="../../../dist/jhoonsa-textarea/jhoonsa-textarea.js"></script> -->
  <!-- <script src="../../../dist/progress-bar/progress-bar.js"></script> -->

  <!-- <glass-container>oids</glass-container> -->
  <!-- <glass-container>oids</glass-container> -->
  <!-- <glass-container>

    <div class="center">osidsds dsdsd sdsdsd</div>

  </glass-container> -->

  <!-- <textarea jhoonsa-textarea></textarea> -->

  <jhoonsa-progress-bar></jhoonsa-progress-bar>

  <!-- <jhoonsa-videos></jhoonsa-videos> -->
  <!-- <jhoonsa-button>dsdsd</jhoonsa-button> -->

  <!-- <glass-container>oisds</glass-container> -->
</body>
</html>
